/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  color: #333;
  background: #FFA500;
}

section {
  margin-bottom: 10px;
  padding: 15px;
}

.margin-ten {
  margin: 10px 0;
}

#left {
  background-color: #30948D;
  width: 33%;
  display: inline-block;
}

#middle {
  background-color: #9E1212;
  width: 33%;
  display: inline-block;
}

#right {
  background-color: #30948D;
  width: 33%;
  display: inline-block;
}

#full {
  /* background: #30948D */
  background-color: #eee;
  height: 175px;
}

#division {
  background-color: #30948D;
  padding: 20px;
  width: 100%;
}

aside {
  background-color: #a6b747;
  float: left;
  width: 33%;
  padding: 50px;
}

footer {
  background-color: #FFA500;
  padding: 15px;
}
